
body{
    position: relative;
    font-family: helvetica;
    }


header{   
    background-color: lightgreen;
}

img{
float: left;
width: 40pc;
    }
 

article{
    position: relative;
            background-color: lightblue;
        }

    #left{
        float: left;
        width: 50%;
    }
    
    #right{
        float: right;
        width: 50%;
    }

li{
    display: inline;
    color: black
}

footer{
    width: 100%;
    height: 60px;
    background-color: brown;
    position: relative;
    bottom: inherit;
}

