header{  
    border-radius: 10px;
    border-color: black; 
   background-color: lightgreen;
   height: 26pc;
 }

 #products{
     background-color: lightcyan;
 }

 img{
    border-radius: 10px;
    border-color: black;
    float: left;
    width: 39pc;
        }
 

article{
    position: relative;
            background-color: lightblue;
        }

    #left{
        border-radius: 20px;
        border-color: black;
        float: left;
        width: 50%;
    }
    
    #right{
        border-radius: 20px;
        border-color: black;
        float: right;
        width: 50%;
    }

li{
    display: inline;
    color: black
}

footer{
    border-radius: 10px;
        border-color: black;
        width: 500px;
    height: 60px;
    background-color: brown;    
}